*{
  a {
    text-decoration: none !important;
  }
}
body {
  /* background-color: #44b5c97a; */
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 4800px;
  top: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}


header {
  background-color: #3ac2ecc7;
  /* background-image: url(/img/giante\ 2.png); */
  height: 200px;
  font-family: "Anton", sans-serif;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: #000000;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.texto {
  width: 100%;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;

  background-image: url(/img/twtwtwtw.jfif);
  height: 310px;
  
  background-size: cover;
  background-position-y: center;
  background-clip: text;
  -webkit-background-clip: text;
}

.txt-head {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #3ac2ecc7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-11 {
  padding-right: 0px;
  margin-top: 20px;
}

.logo-11 img {
  max-width: 100%;
  height: auto;
}

.text {
  flex: 1;
  overflow: hidden;
  font-family: "Georgia", serif;
  font-size: 24px;
  /* white-space: nowrap; */
}

.text p {
  animation: typing 3s steps(10, end);
  overflow: hidden;
  border-right: 3px solid #000;
  padding-right: 0px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/*barra de navegacion*/

.navbar {
  background-color: #44b8cc;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

/*logo barra*/

.logo-navbar {
  float: left;
  position: absolute;
  z-index: 1;
}

.logo-link {
  margin-left: 10px;
  margin-top: 2px;
  z-index: 1;
}

.logo {
  margin: 0;
  width: 22%;
  height: 40%;
  z-index: 1;
}

/*items*/

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0.3%;
  margin: 0.5%;
  margin-top: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10% 40px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.nav-link:hover {
  background-color: #ececec;
  transform: scale(1.13);
}

.nav-link::after {
  position: absolute;
  width: 100%;
  height: 0.7%;
  background-color: #333;
  bottom: -1%;
  left: 0;
  border-radius: 1%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-link:hover::after {
  opacity: 1;
}

/*MENU HAMBURGUESA*/

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 10px;
  position: relative;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
  transition: transform 0.3s; /* Agregamos una transición para la animación del icono */
}

.menu-icon:hover {
  transform: scale(
    1.1
  ); /* Aumenta el tamaño del icono cuando se pasa el mouse sobre él */
}

.menu-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  display: block;
}

.menu-toggle:checked + .menu-icon {
  background: lightgrey;
}

.menu-toggle:checked ~ .menu-list {
  display: block;
}

.menu-toggle {
  display: none;
}

.menu-item:last-child {
  border-bottom: none;
}

/*main*/

#main {
  /* background-image: url(/img/giante\ 2.png); */
  background-color: #3ac2ec;
  background-origin: content-box;
  background-size: auto;
  height: 100%;
  width: 100%;
}
/*1ra*/
.card {
  background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover;
  position: relative;
  left: 150px;
  top: 500px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content {
  /* background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover; */
  background-color: #0c0c0c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
}


/*2da*/
.card2 {
  background-image: url(/img/afafafafafafafafafafaf.jpg);
  background-size: cover;
  
  background-position-x:-35px;
  position: relative;
  left: 600px;
  top: 300px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content2 {
  /* background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover; */
  background-color: #0c0c0c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover .card__content2 {
  transform: rotateX(0deg);
}

.card__title2 {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card2:hover svg {
  scale: 0;
}

.card__description2 {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
}
/*3ra*/

.card3 {
  background-image: url(/img/primavera.webp);
  background-size:300px;
  background-repeat: no-repeat;
  background-position-y:-45px; 
  /* background-position-x:-35px; */
  position: relative;
  left: 1050px;
  top: 100px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content3 {
  /* background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover; */
  background-color: #0c0c0c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3:hover .card__content3 {
  transform: rotateX(0deg);
}

.card__title3 {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card3:hover svg {
  scale: 0;
}

.card__description3{
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
}

/*la roja*/
 .custom-card {
  background-image: url(/img/la\ roja.jpg);
  background-size: cover;
  position: relative;
  top: 200px;
  width: 600px;
  height: 400px;
   left: 450px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-card__image {
  width: 100%;
  height: 100%;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.custom-card__content {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff05;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-card:hover .custom-card__content {
  transform: rotateX(0deg);
}

.custom-card__title {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}

.custom-card:hover svg {
  scale: 0;
}

.custom-card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.6;
  font-weight: bold;
  
}

.custom-card__button {
  padding: 15px;
  border-radius: 8px;
  background: transparent;
  border: none;
  color: white;
  margin: 200px 0; /* Espaciado vertical entre los botones */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  transition: background 0.3s ease-in-out; /* Transición de color de fondo */
}

.secondary-button {
  background: transparent;
  color: #ffffff;
  border: none; /* Eliminamos el borde */
  margin: 10px 0; /* Espaciado vertical entre los botones */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  transition: color 0.3s ease-in-out; /* Transición de color de texto */
}

/* Estilos al pasar el mouse */
.custom-card__button:hover,
.secondary-button:hover {
  background: #ec1c1c; /* Cambio de color de fondo al pasar el mouse */
  color: white; /* Cambio de color de texto al pasar el mouse */
}
.custom-card__button a,
.secondary-button a {
  text-decoration: none; /* Quita las líneas subrayadas */
  color: inherit; /* Hereda el color del texto del botón */
}

/*4ta*/
.card4 {
  background-image: url(/img/gigantazo.jpg);
  background-size:300px;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y:-45px;  */
  /* background-position-x:-35px; */
  position: relative;
  left: 1050px;
  top: 300px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card4 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card4:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content4 {
  /* background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover; */
  
  background-color: #0c0c0c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.aa{
  text-decoration: none;
  color: inherit;
}

.card4:hover .card__content4 {
  transform: rotateX(0deg);
}

.card__title4 {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card4:hover svg {
  scale: 0;
}

.card__description4 {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
}
/*5ta*/
.card5 {
  background-image: url(/img/carnet.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  /* background-position-y: -45px; */
  /* background-position-x:-35px; */
  position: relative;
  left: 150px;
  top: 100px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card5 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card5:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content5 {
  /* background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover; */
  background-color: #0c0c0c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card5:hover .card__content5 {
  transform: rotateX(0deg);
}

.card__title5 {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card5:hover svg {
  scale: 0;
}

.card__description5 {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
}
/*6ta*/
.card6 {
  background-image: url(/img/primavera.webp);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position-y: -45px;
  /* background-position-x:-35px; */
  position: relative;
  left: 600px;
  top:-100px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card6 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card6:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content6 {
  /* background-image: url(/img/belgrano\ x\ tersuave.jpg);
  background-size: cover; */
  background-color: #0c0c0c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card6:hover .card__content6 {
  transform: rotateX(0deg);
}

.card__title6 {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card6:hover svg {
  scale: 0;
}

.card__description6 {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
}



/*mercado de pases */

.mercado{
  position:relative;
  top:0;
}
.container {
  position: absolute;
  top: -3000px;
  left: 70px;
  height: 800px;
  width: 90%;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 10px 20px #dbdbdb;
  font-family: sans-serif;
}

.palette {
  display: flex;
  height: 86%;
  width: 100%;
  padding: 10px; /* Añade un espacio interior para alejar el texto de los bordes */
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
  text-align: center; /* Alinea el texto en el centro del contenedor */
  padding: 37px;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
  
}

.color:nth-child(1) {
  background-image: url(/img/pastran.jfif);
}

.color:nth-child(2) {
  background-image: url(/img/paserini.jfif);
}

.color:nth-child(3) {
  background-image: url(/img/rolon.webp);
}

.color:nth-child(4) {
  background-image: url(/img/marin.jfif);
}

.color:nth-child(5) {
  background-image: url(/img/chavarria.jfif);
}

.color:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
}

.linkmercado{
  text-decoration: none; /* Elimina la decoración de línea de los enlaces */
  color: #dbdbdb;
}

#stats {
  height: 14%;
  width: 100%;
  text-align: center;
  background: rgb(0, 183, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px; /* Añade espacio interior a la izquierda */
  padding-right: 10px; /* Añade espacio interior a la derecha */
  color: #000000;
  font-size: 27px;
  font-weight: 100;
}
#stats svg {
  fill: #000000;
  transform: scale(1.2);
}

/*fixture*/
#fixture {
  background-color: #3ac2ec;
}

.fixture-div1 {
  position: relative;
}

.img-fixture {
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  width: auto;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 200px;
  bottom: 1300px;
}

.img-fixture:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.fixture-div2 {
  position: relative;
}

.fechas {
  height: 600px;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  width: auto;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 430px;
  bottom: 500px;
}

.fechas:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/*footer*/
.footer {
  background-color: #333;
  color: #fff;
  clear: both;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.mapa{
  float: left;
  padding-left: 15px;
}

/*iconos*/
.div-iconos {
  float: right;
  padding-top: 10px;
  padding-right: 15px;
}

.li-iconos {
  list-style: none;
  display: inline;
  margin-right: 23px;
  margin-left: 5px;
}

.social-icons {
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
  margin-bottom: 1rem;
}

.social-icon img {
  padding: 7px;
  margin: 7px;
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in-out;
  animation: iconos-bro 5s ease-in-out infinite;
}

@keyframes iconos-bro {
  0% {
    transform: rotate(40deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

.social-icon img:hover {
  transform: scale(1.2);
}
/*derechos reservados*/
.ppp {
  clear: both;
  color: rgba(131, 121, 121, 0.925);
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
